
.rtl .main-wrap{
	margin-right: 270px !important;
	margin-left: 0px !important;
	position: unset !important;
}

body.rtl.aside-mini .main-wrap {
    margin-right: 80px !important;
}
.rtl .main-header .nav .dropdown-menu{
		left: 5%;
        right: auto;
	}
.rtl .admin-chat-dropdown-list{
	margin-left:-5px;
}
.rtl .admin-chat-all-list .pull-left{
	    float: right;
}
.rtl .admin-chat-all-list .mail-contnet{
	      text-align: right;
}
.rtl table.table-bordered.dataTable td {
	text-align: right;
}
.rtl .control-sidebar.control-sidebar-open {
    left: 0;
	    right: unset;
}
.rtl .control-sidebar{
	left: -335px;
	right: unset;
	padding: 30px 15px 30px 1px;
	box-shadow: 0px 2px 8px #ccc;
	-webkit-transition: left .3s ease-in-out;
    -o-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
}
.rtl .control-sidebar .rpanel-title{
	    right: unset;
		left: 0;
}
  
@media (max-width: 1200px)
{
	.rtl .main-wrap {
		margin-right: 220px ;
	 }  
}

@media (max-width: 768px)
{
	.rtl .main-wrap {
		margin-right: 0 !important;
	}
	.rtl .navbar-aside{
		    -webkit-transform: translateX(101%);
    transform: translateX(101%);
	}
	.rtl .navbar-aside.show {
    visibility: visible;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
	.rtl .main-header .me-auto{
		    margin-left: auto !important;
			margin-right: unset !important;
	}
	.rtl .control-sidebar {
        padding: 10px;    
        width: 300px;
     }
	 .rtl .main-wrap{
		 position: relative !important;
	 }
	 .control-sidebar .rpanel-title{
		 top: 5px;
	 }
    
}